*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

header {
    width: 100%;
    background-color: rgb(251, 86, 48);
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div {
    display: flex;
    align-items: center;
    margin-left: 3%;
}

header img {
    height: 60px;
}

header h1 {
    color: white;
    margin-left: 5%;
    cursor: pointer;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
}

header a {
    text-decoration: none;
}

header p {
    color: white;
    margin-right: 1.5vw;
    font-size: 20px;
}

.produto-imagem{
    margin-top: 50px;
    margin-left: 10%;
    width: 38vw;
    float: left;
    position: absolute;
}

.produto-miniatura{
    height: 100%;
    width: 10%;
    float: left;
}

.produto-miniatura img{
    height: 5vw;
    max-height: 90px;
    min-height: 60px;
    margin-top: 10px;
    display: block;
    opacity: 0.6;
    cursor: pointer;
}

.produto-miniatura img:hover{
    opacity: 1;
    border: 2px solid rgb(251,86,48);
}

.produto-principal{
    display: flex;
    align-items: center;
    height: 100%;
    width: 75%;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 5%;
    float: right;
    
}

.produto-principal img{
    width: 100%;
}

.produto-detalhes{
    margin-top: 50px;
    margin-right: 18vw;
    height: 600px;
    width: 35%;
    float: right;
}

.produto-detalhes p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.produto-detalhes .botao{
    height: 40px;
    cursor: pointer;
    background-color: rgba(255,255,255);
    color: rgba(0,0,0,.8);
    border: 1px solid rgba(0,0,0,.09);
    margin: 10px 8px 8px 10px;
    padding: 0.25rem 0.75rem;
    justify-content: center;
}

.produto-detalhes .botao:hover{
    color: rgb(251,86,48);
    border: 1px solid rgb(251,86,48);
}

.produto-detalhes #botaoComprar{
    height: 60px;
    cursor: pointer;
    background-color: rgb(251,86,48);
    color: rgb(255,255,255);
    border: 1px solid rgb(251,86,48);
    margin: 10px 8px 8px 10px;
    padding: 0.25rem 0.75rem;
    justify-content: center;
}

.produto-detalhes #botaoComprar:hover{
    opacity: 0.9;
}

.produto-detalhes #precoProduto{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.875rem;
    color: rgb(251,86,48);
}

.menu-horizontal ul{
    background-color: rgb(215, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.menu-horizontal ul li{
    list-style: none;
}

.menu-horizontal ul li a{
    font-size: 18px;
    color: rgb(251,86,48);
    text-align: center;
    text-decoration: none;
    padding: 14px;
    display: block;
    line-height: 1.15;
}

.menu-horizontal ul li a:hover{
    font-weight: bold;
    color: rgb(251,86,48);
    background-color: rgb(255, 255, 255);
}