* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
    line-height: 1.2;
    background-color: #c3c3c3;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    background-color: rgb(251, 86, 48);
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div {
    display: flex;
    align-items: center;
    margin-left: 3%;
}

header img {
    height: 60px;
}

header h1 {
    color: white;
    margin-left: 5%;
    cursor: pointer;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
}

header a {
    text-decoration: none;
}

header p {
    color: white;
    margin-right: 1.5vw;
    font-size: 20px;
}

.menu-nav ul {
    background-color: #fb7730;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    line-height: 1.15;
}

.menu-nav ul li {
    list-style: none;
}

.menu-nav ul li a {
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 14px;
    display: block;

}

.menu-nav ul li a:hover {
    background-color: rgb(251, 86, 48);
    transition: 0.5s;
}

.container-produtos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 70%;
    margin: 0 auto;
    /* grid-gap: 2vw; */
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 2vh;
    background-color: white;
    min-width: 865px;
}

.container-produtos img {
    max-width: 100%;
    display: block;
    margin-bottom: 0.1vw;
}

.container-produtos .produto {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    background-color: white;
    margin: 10px;
}

.container-produtos .produto:hover {
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow: 0px 0px 0px 2.3px rgba(255, 61, 12, 0.719);
}

.imagem-nome p {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 14px;
    padding: 5px;
}

.fabricante-descricao {
    margin-bottom: 5px;
}

.fabricante-descricao p {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.fabricante-descricao span {
    font-weight: 100;
    color: gray;
    font-size: 13px;
}

.preco-quantidade {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
}

.preco-quantidade p {
    font-size: 14px;
    margin-left: 10px;
    color: orangered;
    padding: 5px;
}

.preco-quantidade span {
    color: gray;
    font-size: 13px;
    padding: 5px;
    text-align: center;
    margin-right: 5px;
}

/*ABAIXO CONFIGURAÇÕES PADRÃO LINKS E RODAPÉ*/

ansid {
    display: block;
    width: 100%;
    height: auto;
    background-color: #eaeaea;
}

ansid section.caixas-informacoes {
    width: 85%;
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
}

ansid div.box {
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

ansid div.box h5 {
    margin-bottom: 1rem;
}

ansid div.box ul {
    padding: 0;
}

ansid div.box ul li {
    list-style: none;
    margin-bottom: 7px;
}

ansid div.box a {
    text-decoration: none;
    color: black;
    padding: 0;
    font-size: 0.8rem;
}

ansid div.pagamentos {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 20px;
}

ansid div.pagamentos img {
    width: 2.3rem;
    height: auto;
}

ansid div.redes-sociais {
    display: flex;
}

ansid div.redes-sociais img {
    width: 1rem;
    height: auto;
}

ansid div.redes-sociais p {
    margin-left: 5px;
}

ansid div.redes-sociais:not(:last-child) {
    margin-bottom: 7px;
}

ansid div.box img.loja-aplicativo {
    width: 4rem;
    height: auto;
}

ansid div.box img.loja-aplicativo:last-child {
    margin-left: 3px;
}

footer {
    width: 100%;
    height: 5rem;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer hr {
    display: block;
    width: 85%;
    margin-bottom: 1rem;
}

/* tratamentos devido ao bootstrap */
p {
    margin-bottom: 0px;
}

h5 {
    font-size: 13.28px;
    font-weight: bold;
}